@media only screen and (max-width: 375px) {
  .dashboard {    
    flex-direction: column;
  }
  .box1, .box2 {
    margin:10px 0 !important;
  }

.overview {
  display: flex !important;
  flex-direction: column;
}
  body {
    border-top-width: 0 !important;
    border-bottom-width: 0 !important;
  }
  .subheading-cont {
    display: unset !important;
  }
  .subheading {
    margin-bottom: 20px;
  }
  .darkMode {
    border-top: 2px solid hsl(227, 17%, 73%) ;
    display: flex;
   padding-top: 20px;   
   justify-content: space-between;
  }
  h1 {
    font-size: 22px;
  }
  .interaction {   
    position: relative;
    top: 20px;
    }
}


body * {
    box-sizing: border-box;
    font-family: Inter, Georgia, 'Times New Roman', serif;
    font-weight: 400 700;  
}
body {
    margin: 30px 10%;
    border-top: 2px solid hsl(227, 17%, 73%);
    border-bottom: 2px solid hsl(227, 17%, 73%);
    background-color: hsl(230, 17%, 14%);
  }

@font-face {
    font-family: "Inter";
    src: url("https://fonts.google.com/specimen/Inter");
  }

h1 {
    font-family: Inter, Georgia, 'Times New Roman', serif;
    margin-bottom: 0px;       
}



h1, .subheading, .interaction, h2, .followersByNumber, .daily-num {
    color:hsl(0, 0%, 100%)  
} 

.username, .followers, .subheading, .darkMode {
    color: hsl(228, 34%, 66%);
}
.subheading-cont {
    display: flex;
}

.darkMode {
  margin-left: auto;
  display: flex;
}


.DM {
  padding-top: 10px;
}

.box1{
    background-color: hsl(232, 19%, 15%);
}

.FBfollowers {
    border-top: 5px solid hsl(195, 100%, 50%)
}

.TWfollowers {
    border-top: 5px solid hsl(203, 89%, 53%);
}

.YTfollowers {
    border-top: 5px solid hsl(348, 97%, 39%);
}
.IGfollowers, .TWfollowers, .FBfollowers {
  margin-right: 30px;
}
.IG{
    background:  linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));;
    height: 5px;
    box-sizing: border-box;
    margin-top: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-color: hsl(0, 0%, 100%); ;
    
}

.arrow {
    padding: 3px;   
  }

.increase {
    color: hsl(163, 72%, 41%);
}
.decrease {
    color: hsl(356, 69%, 56%);
}

.dashboard {
    display: flex; 
    gap: 30px;
    width: 100%; 
    flex-wrap: wrap; 
    margin: 50px auto;}

.box1, .box2 {
      text-align: center;   
    border-radius: 10px; 
  }
  
  .box1:hover, .box2:hover {
    cursor: pointer;
   background-color: hsla(229, 27%, 20%, 0.9);
  }
  

  .box1 {
    flex: 1;
  }

  .username { 
    display: inline-block;  
    color: #5b5d5e;
    display: inline-block;
    font-size: 18px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
      

  }

  .followersByNumber { 
    font-size: 50px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px auto;
  }

  .icon{
    position: relative;    
    right: 5px;
    top: 5px;
  }
  
  
  .followers {
    font-family: monospace;
    margin-top: 0px;
    font-size: 15px;
    letter-spacing: 3px;
    padding-left: 5px;
  }

  .IGfollowers span{
    position: relative;
    bottom: 10px
  }
  
.overview{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  row-gap: 15px;
}

.box2 {
  display: grid;
  grid-template-columns: 2fr 1fr; 
  grid-template-rows: 50% 50%; 
  background-color: hsl(228, 28%, 20%);
}

.interaction {
  font-size: medium;
  font-weight: bold;
  justify-self: start;
  margin-left: 20px;
  align-self: end; 
}

.daily-num {
  
  font-size: 30px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;   
  justify-self: start;
  margin-left: 20px;
 align-self: center;
}

.increase.daily-perc, .decrease.daily-perc {
  text-align: left;
  align-self: center
}

.interaction + img {
  position: relative;
  top: 36px;
}

.attribution { 
  font-size: 11px;
   text-align: center; 
   margin-top: 35px;
   color: hsl(228, 34%, 66%);
}
 .attribution a { color: hsl(228, 45%, 44%); } 
  
 .switch {
	position: relative;
	display: block;
	vertical-align: top;
	width: 100px;
	height: 30px;
	padding: 3px;
	margin: 0 10px 10px 0;
	background: linear-gradient(to bottom, hsl(230, 17%, 14%), hsl(230, 17%, 14%) 25px);
	border-radius: 18px;

	cursor: pointer;
	box-sizing:content-box;
}
.switch-input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	box-sizing:content-box;
}
.switch-label {
	position: relative;
	display: block;
	height: inherit;
	font-size: 10px;
	text-transform: uppercase;
	background: #eceeef;
	border-radius: inherit;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
	box-sizing:content-box;
}
.switch-label:before, .switch-label:after {
	position: absolute;
	top: 50%;
	margin-top: -.5em;
	line-height: 1;
	-webkit-transition: inherit;
	-moz-transition: inherit;
	-o-transition: inherit;
	transition: inherit;
	box-sizing:content-box;
}
.switch-label:before {
	right: 11px;
	color: #aaaaaa;
	text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.switch-label:after {
	left: 11px;
	color: #FFFFFF;
	text-shadow: 0 1px rgba(0, 0, 0, 0.2);
	opacity: 0;
}
/*here*/
.switch-input ~ .switch-label {
	background: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));	
}
/*here*/
.switch-handle {
	position: absolute;
	top: 4px;
	left: 4px;
	width: 28px;
	height: 28px;
	background:hsl(230, 17%, 14%);
	border-radius: 100%;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
/*here*/
.switch-handle:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -6px;
	width: 12px;
	height: 12px;
	background: hsl(230, 17%, 14%);
	border-radius: 6px;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}
.switch-input:checked ~ .switch-handle {
	left: 74px;
	box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}
 
/* Transition
========================== */
.switch-label, .switch-handle {
	transition: All 0.3s ease;
	-webkit-transition: All 0.3s ease;
	-moz-transition: All 0.3s ease;
	-o-transition: All 0.3s ease;
}
